<a href="/cart" title="Cart">
    {{ 'CART' | escape }}
    <span class="type-writer">
        {% if cart.item_count < 10 and cart.item_count > 0 %}
            [0{{ cart.item_count }}]
        {% elsif cart.item_count < 1 %}
            [{{ cart.item_count }}]
        {% else %}
            [{{ cart.item_count }}]
        {% endif %}
    </span>
</a>