<div class="navbar">
    <div class="navbar--row">

        <div class="logo">
            {% render 'logo' %}
        </div>

        <div class="links">
            {% render 'site-nav' %}
        </div>

        <div class="cart">
            {% render 'cart-count' %}
        </div>

    </div>
</div>