/*
* ----------------------------
* Artists Archive
* (Current)
* ----------------------------
*/

.artist-archive {

    .artist-archive--container {
        padding: 0 0px 60px 0px;
    }
    
    .artist-archive--wrapper {

        .list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;

            .artist-wrapper .image {
                height: 400px;
                width: 100%;
                cursor: pointer;
                overflow: hidden;
                cursor: pointer;
                transition: all 0.22s;
            }
            .artist-wrapper .image:hover {
                background-size: 102%;
                opacity: 0.8;
            }

            .artist-wrapper .artist {
                padding: 20px;
            }
        }

    }

}

@media screen and (max-width: 768px) {
    .artist-archive {

        .artist-archive--wrapper {
    
            .list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
    
                .artist-wrapper .image {
                    height: 300px;
                }
            }
    
        }
    
    }
}