/*
* ----------------------------
* Artist Page
* Single Artist Page
* ----------------------------
*/

.single-artist {

    padding: 40px var(--side-padding);
    width: 100%;

    .single-artist--wrapper {

        padding: 120px 0 0 0;
        display: grid;
        grid-template-columns: 54% auto;
        grid-gap: var(--side-padding);


        // Header
        .artist-header {
            padding: 0 0 40px 0;

            .title {
                h1 {
                    font-size: 9.1rem;
                    letter-spacing: -0.4rem;
                }
            }
        }

        .description {
            line-height: 1.4;
            p {
                font-size: 1.62rem;
                margin: 0 0 20px 0;
            }
        }

        // Left
        .left{
            img {
                width: 100%;
            }
        }


        // Right
        .right {

            .products {

                .title h3 {
                    font-size: 2.4rem;
                    text-transform: uppercase;
                    display: inline-block;
                    margin: 0 0 20px 0;
                    border-bottom: var(--border-blk);
                }

            }

            ul.artist-products {
                list-style: none;
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(2, 50%);
                width: 100%;
                transition: var(--quick-transition);
    

                .item {
                    .title {
                        font-size: 2rem;
                    }

                    .title:hover {
                        text-decoration: underline;
                    }

                    img {
                        width: 100%;
                        margin-bottom: 12px;
                    }
    
                    img:hover {
                        opacity: 0.6;
                    }
                }


            }

        }



    }

}


@media screen and (max-width: 767px) {
    .single-artist {

        padding: 0px var(--side-padding) 40px var(--side-padding);
        .single-artist--wrapper {
            padding: 0px 0 0 0;
            display: flex;
            flex-direction: column;
            grid-gap: var(--side-padding);
            
        }
    }
}