/*
* ----------------------------
* Artist Page
* Single Artist Page
* ----------------------------
*/

.single-artist {

    //padding: 40px var(--side-padding);
    width: 100%;

    .single-artist--wrapper {

        padding: 0;
        display: grid;
        grid-template-columns: 54% auto;
        grid-gap: 40px;

        // Left
        .left {
            // height: 100dvh;
            // overflow-y: scroll;
            img {
                width: 100%;
            }
        }

        // /* width */
        // .left::-webkit-scrollbar {
        //     width: 10px;
        // }
        
        // /* Track */
        // .left::-webkit-scrollbar-track {
        //     background: #f1f1f1;
        // }
        
        // /* Handle */
        // .left::-webkit-scrollbar-thumb {
        //     background: var(--black);
        // }
        
        // /* Handle on hover */
        // .left::-webkit-scrollbar-thumb:hover {
        //     background: #555;
        // }

        // Right
        .right {

            padding: 120px 20px 0 0;

            .status {
                margin: 0 0 10px 0;

                a {
                    background: var(--grey-light);
                    padding: 4px;
                    border-radius: 4px;
                }
            }

            .title {
                h1 {
                    font-size: 9.1rem;
                    letter-spacing: -0.4rem;
                }
            }

            .description {
                line-height: 1.4;
                font-family: var(--type-writer);
                p {
                    font-size: 1.2rem;
                    margin: 0 0 20px 0;
                }
            }

            .products {
                margin: 40px 0 0 0;

                .title h3 {
                    font-size: 2.4rem;
                    text-transform: uppercase;
                    display: inline-block;
                    margin: 0 0 20px 0;
                    border-bottom: var(--border-blk);
                }

                ul.artist-products {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: grid;
                    grid-template-columns: repeat(4, 25%);
                    grid-gap: 10px;
                    width: 100%;
                    transition: var(--quick-transition);
        
    
                    .item {
                        .title {
                            font-size: 1.1rem;
                            font-family: var(--type-writer);
                        }
    
                        .title:hover {
                            text-decoration: underline;
                        }
    
                        img {
                            width: 100%;
                            margin-bottom: 12px;
                        }
        
                        img:hover {
                            opacity: 0.6;
                        }
                    }
    
    
                }

            }



        }



    }

}


@media screen and (max-width: 767px) {
    .single-artist {

        padding: 0px var(--side-padding) 40px var(--side-padding);
        .single-artist--wrapper {
            padding: 0px 0 0 0;
            display: flex;
            flex-direction: column;
            grid-gap: var(--side-padding);
            
        }
    }
}