.single-product {
    
    .wrapper {
        padding: 160px 50px 40px 50px;

        header {

            .band-name {

                margin-bottom: 40px;

                h1 {
                    font-size: 82px;
                    letter-spacing: -4px;
                }
            }

            .data {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 40px;
                color: var(--grey);

                // .release-title {}
                .product-type {
                    text-transform: capitalize;
                }
            }

        }

        .section-one {
            padding: 40px 0px; 
            display: flex;
            flex-direction: row;
            gap: 40px;

            .left {
                width: 50%;

                .gallery-swiper {
                    img {
                        width: 100%;
                    }
                }
            }

            .right {
                width: 50%;
            }

            .bandcamp-swiper {
                margin-bottom: 20px;

                iframe {
                    width: 100% !important;
                    height: auto !important;
                }

                .actions {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 22px;

                    .controls {
                        display: flex;
                        flex-direction: row;
                        gap: 14px;
                    }
                }

                .bandcamp-pagination {
                    width: auto;
                    text-align: left;

                    .swiper-pagination-bullet {
                        width: 12px;
                        height: 12px;
                        border-radius: 0px;
                        border: 2px solid var(--black) !important;
                        background: transparent;
                        opacity: 1;
                    }

                    .swiper-pagination-bullet-active {
                        background: var(--black);
                    }
                }

            }
            
            .tracklisting {
                h3 {
                    margin-bottom: 14px;
                }
                li {
                    display: list-item;
                    list-style-position: inside;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
                    padding: 4px 0 4px 0;
                    margin: 0 0 10px 0;
                }
            }

        }




        
    }

}