.single-product {

    #player { max-width: 100% !important; }
    
    .wrapper {

        header {

            padding: 160px 50px 40px 50px;

            .band-name {

                margin-bottom: 40px;

                h1 {
                    font-size: 82px;
                    letter-spacing: -4px;
                }
            }

            .data {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 40px;
                color: var(--grey);

                // .release-title {}
                .product-type {
                    text-transform: capitalize;
                }
            }

        }

        .section-one {

            width: 100%;
            max-width: 100%;
            padding: 40px 50px; 

            .section-wrapper {
                display: grid;
                grid-template-columns: minmax(0, 1fr)  minmax(0, 740px);
                gap: 40px;
            }


            .left {
                //width: 50%;

                .gallery-swiper {
                    img {
                        width: 100%;
                        max-width: 100%;
                    }

                    .swiper-pagination-bullet {
                        width: 12px;
                        height: 12px;
                        border-radius: 0px;
                        border: 2px solid var(--black) !important;
                        background: transparent;
                        opacity: 1;
                    }
            
                    .swiper-pagination-bullet-active {
                        background: var(--black);
                    }
                }
            }
            
            .tracklisting {
                margin-top: 40px;

                h3 {
                    margin-bottom: 14px;
                }
                li {
                    display: list-item;
                    list-style-position: inside;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
                    padding: 4px 0 4px 0;
                    margin: 0 0 10px 0;
                    width: auto;
                    max-width: 700px;
                }
            }

        }

        .section-two {

            padding: 40px 50px;

            details summary > * { 
                display: inline;
            }

            summary {
                list-style: none;
                border-bottom: 1px solid var(--black);
                padding: 20px 0px 10px 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                font-size: 28px;
                text-transform: uppercase;

                .indicator {
                    border: 2px solid var(--black);
                    background: transparent;
                    width: 14px;
                    height: 14px;
                    aspect-ratio: 1/1;
                    display: inline-block;
                }

            }

            .details-body {
                padding: 40px 0;
                line-height: 1.5;
            }

            details[open] {
                .indicator {
                    background: var(--black);
                }
            }

            summary:hover .indicator {
                background: var(--black);
            }

        }

        .section-three {
            background: var(--black);
            color: var(--white);

            display: flex;
            flex-direction: column;
            align-items: center;

            .variants {
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 14px;

                    li {
                        font-family: var(--type-writer);
                        text-transform: uppercase;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }

        
    }

}