.single-product {
    
    .sp--wrapper {
        padding: 160px 50px 40px 50px;

        header.sp--header {

            .artist-name {

                margin-bottom: 40px;

                h1 {
                    font-size: 82px;
                    letter-spacing: -4px;
                }
            }

            .metadata {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 40px;
                color: var(--grey);

                // .release-title {}
                .format {
                    text-transform: capitalize;
                }
            }

        }

        .sp--row {
            width: 100%;
        }

        .gallery {

            max-width: 100%;

            .swiper-slide {
                img {
                    width: 100%;
                }
            }

        }


        
    }

}