.blog-page {

    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 60px 0;

        .post {
            display: flex;
            flex-direction: column;
            gap: 4px;
            font-family: var(--type-writer);

            .image {
                height: 40vh;
                margin-bottom: 10px;
                cursor: pointer;
                transition: all 0.24s ease-in-out;
            }

            .image:hover {
                opacity: 0.8;
            }

            .post-title {
                font-family: var(--sans-serif);
                font-size: 2.4rem;
                line-height: 1.6;
            }

            .posted-at {
                font-size: 1.4rem;
            }

            .excerpt {
                font-size: 1.4rem;
            }

            .actions {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 20px;
                width: 100%;

                .read-more {
                    text-align: right;
                    white-space: nowrap;
                    font-size: 1.4rem;
                }

                .read-more:hover {
                    text-decoration: underline;
                }
            }

        }

    }
}


@media screen and (max-width: 767px) {
    .blog-page{
    
        .posts {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 20px;
            padding: 10px;

            .post {
                display: flex;
                flex-direction: column;
                gap: 4px;
                font-family: var(--type-writer);
    
                .image {
                    aspect-ratio: 1/1;
                }
    
                .post-title {
                    font-family: var(--sans-serif);
                    font-size: 1.8rem;
                    line-height: 1.2;
                }

                .posted-at {
                    font-size: 1.4rem;
                }

                .actions {
                    gap: 30px;
                }
    
            }
    
        }
    }
}