<section class="current-artists">

    <header class="current-artists--header">
        <div class="current-artists--header-wrapper">
            <h2 class="title">{{ section.settings.section_title }}</h2>
            <a class="view-more" href="/collections/releases">View more</a>
        </div>
    </header>

    <div class="current-artists--wrapper">

        <ul class="current-artists--list">
            {% for product in collections.all.products %}

                {% case product.type %}
                    {% when 'vinyl' %}

                        <li class="artist">
                            <div class="artist-wrapper">
                                {% for collection in collections %}
                                    {% if collection.title == product.vendor %}

                                        <div class="image" style="background: url('{{ collection.image | img_url: '900x' }}'); background-size: cover; background-position: center center;">
                                            &nbsp;
                                        </div>

                                        <div class="artist">
                                            {{ collection.title }}
                                        </div>
                                        
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </li>

                {% endcase %}
            {% endfor %}
        </ul>

    </div>
</section>

{% schema %}
    {
      "name": "Current Artists",
      "tag": "section",
      "class": "current-artists",
      "settings": [
        {
            "type": "text",
            "id": "section_title",
            "label": "Section Title"
        },
        {
            "type": "page",
            "id": "link_destination",
            "label": "Link Destination"
        }
      ]
    }
{% endschema %}