{% comment %} 
  Hero Slideshow
  @ homepage
{% endcomment %}

<div id="hero-swiper" class="hero-swiper swiper">
  <div class="swiper-wrapper">

    <div class="swiper-product-container">
      {% for block in section.blocks %}

        <div class="swiper-slide">
          <div class="image" style="background: url('{{ block.settings.image | image_url: width: 900 }}'); background-size: cover; background-position: center center;">&nbsp;</div>
  
  
        </div>
  
      {% endfor %}
    </div>

    <div class="swiper-slide-container">
      {% for block in section.blocks %}

        <div class="swiper-slide">
          <div class="image" style="background: url('{{ block.settings.image | image_url: width: 900 }}'); background-size: cover; background-position: center center;">&nbsp;</div>
  
  
        </div>
  
      {% endfor %}
    </div>



  </div>

</div>


{% schema %}
  {
    "name": "Slideshow (Current)",
    "tag": "section",
    "class": "slideshow",
    "settings": [],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "checkbox",
            "id": "preorder",
            "label": "Preorder"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub-Title"
          }, {
            "type": "url",
            "id": "link-destination",
            "label": "Link URL"
          }, {
            "type": "text",
            "id": "link-text",
            "label": "Link Text"
          }
        ]
      }
    ]
  }
{% endschema %}