{% comment %} 
// Hero Slideshow
// @ homepage
{% endcomment %}

<div class="main-carousel">
  <div class="carousel-cell">...</div>
  <div class="carousel-cell">...</div>
  <div class="carousel-cell">...</div>
</div>

{% schema %}
    {
      "name": "Slideshow",
      "tag": "section",
      "class": "slideshow",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Slideshow"
        }
      ],
      "blocks": [
         {
           "name": "Slide",
           "type": "slide",
           "settings": [
             {
               "type": "image_picker",
               "id": "image",
               "label": "Image"
             },
             {
               "type": "text",
               "id": "title",
               "label": "Title"
             },
             {
               "type": "text",
               "id": "subtitle",
               "label": "Sub-Title"
             },
             {
               "type": "url",
               "id": "link-destination",
               "label": "Link URL"
             },
             {
               "type": "text",
               "id": "link-text",
               "label": "Link Text"
             }
           ]
         }
       ]
    }
{% endschema %}
    