<section class="large-nav">
    <div class="large-nav--wrapper">

        <ul>
            {% for link in linklists.large-menu.links %}
                <li class="{% if link.active %} active{% endif %}}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
                    <a href="{{ link.url }}">{{ link.title }}</a> 
                </li>
            {% endfor %}
        </ul>

    </div>
</section>