<section class="latest-releases">

    <header>
        <h2 class="section-title">{{ section.settings.section_title }}</h2>
    </header>

    <div class="latest-releases--wrapper">

        {% for block in section.blocks %}
            <div class="release">
                <script>
                    console.log({{ block.settings.release | json }})
                </script>

                {% for album in block.settings.release %}
                    {{ album.title }}
                {% endfor %}
            </div>
        {% endfor %}

    </div>
</section>


{% schema %}
    {
      "name": "Latest Releases",
      "tag": "section",
      "class": "latest-releases",
      "settings": [
        {
            "type": "text",
            "id": "section_title",
            "label": "Section Title"
        }
      ],
      "blocks": [
         {
           "name": "Release",
           "type": "text",
           "settings": [
            {
               "type": "text",
               "id": "title",
               "label": "Title"
             },
             {
               "type": "text",
               "id": "artist",
               "label": "Artist"
             },
             {
                "type": "product_list",
                "id": "release",
                "label": "Product",
                "limit": 1
            }
           ]
         }
       ]
    }
{% endschema %}