section.current-artists {

    padding-bottom: 20px;

    /* Header */
    header.current-artists--header {

        padding: 60px var(--side-padding) 40px var(--side-padding);

        .current-artists--header-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h2.title {
                display: inline-block;
                font-size: var(--section-title);
                text-transform: uppercase;
                padding-bottom: 4px;
                border-bottom: 2px solid var(--black);
            }

        }

    }

    /* Artists */
    .current-artists--wrapper {
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        padding: 0 var(--side-padding) 40px var(--side-padding);

        ul.current-artists--list {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            gap: 12px;
            min-width: 100%;
            overflow-x: scroll;
            padding: 0 0 60px 0;
            list-style: none;
        }
        // Scrollbar
        ul.current-artists--list::-webkit-scrollbar {
            width: 1em;
        }
         
        ul.current-artists--list::-webkit-scrollbar-track {
            //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-bottom: var(--border-blk);
        }
         
        ul.current-artists--list::-webkit-scrollbar-thumb {
          background-color: var(--black);
          outline: 0px;
        }

        ul.current-artists--list.active {
            cursor: grabbing;
        }

        li {

            .image {
                overflow: hidden;
                aspect-ratio: 1/1;
                width: 350px;
                margin-bottom: 10px;
                transition: opacity 0.5 ease-out;
                transition-delay: 200ms;
                position: relative;

                .view-more {
                    position: absolute;
                    bottom: 0px;
                    right: 12px;
                    opacity: 0;
                    transform: translate(-50%, -50%);
                    background: var(--white);
                    border-radius: 3px;
                    padding: 4px 8px;
                    font-size: 1.8rem;
                    transition: all 0.24s ease-in-out;
                    font-family: var(--type-writer);
                }

                .view-more:hover {
                    background: var(--grey-light)
                }
            }

            .image:hover {
                .view-more {
                    bottom: 12px;
                    opacity: 1;
                }
            }

            .artist {
                a {
                    font-size: 2rem;
                }
            }

            .image:hover {
                opacity: 0.85;
                cursor: grab;
            }

            .image:active {
                cursor: grabbing;
            }

        }



    }

    
}

