section.latest-releases {

    padding-top: 40px; 
    
    /* Header */
    header.latest-releases--header {

        padding: 60px 50px 40px 50px;

        .latest-releases--header-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h2.title {
                display: inline-block;
                font-size: 34px;
                text-transform: uppercase;
                padding-bottom: 4px;
                border-bottom: 2px solid var(--black);
            }
    
            a.view-more {
                text-transform: uppercase;
            }

            a.view-more:hover {
                text-decoration: underline;
            }

        }

    }

    /* Body */
    .latest-releases--wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 12px;

        .release {

            .image {
                overflow: hidden;
                img {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1/1;
                    transition: all 0.2s ease-in-out;
                }
            }
            .image:hover img {
                transform: scale(1.01);
            }

            .info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 6px;
                width: 100%;
                padding: 20px;
            }

            .left {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 12px;
            }

            .artist h3 {
                text-transform: uppercase;
                padding-bottom: 6px;
                font-size: 20px;
            }

            .title h4 {
                color: var(--grey);
                font-size: 16px;
            }

            // .price { }

        }
    }
}

@media screen and (max-width: 768px) {

    section.latest-releases {
        header.latest-releases--header {
            padding: 60px 20px 20px 20px;

            .latest-releases--header-wrapper {
                h2.title {
                    display: inline-block;
                    font-size: 20px;
                }
            }

        }
        .latest-releases--wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 12px;

            .info {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

            .price {
                display: none;
            }
        }
    }
}