html {
    background-color: var(--white);
}

html, body {
    font-family: Arial, sans-serif;
    font-smooth: always;
    letter-spacing: -0.05em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* Type Accents */
.type-writer {
    font-family: var(--type-writer);
}