.navbar-mobile {

    width: 100%;
    padding: 10px 0;

    .menu-button {
        display: inline-block;
        padding-bottom: 4px;
        border-bottom: 1px solid var(--black);
    }

    .navbar-mobile--row {
        display: grid;
        grid-template-columns: 3fr 6fr 3fr;
        align-items: center;
        padding: 4px 10px;
        font-size: 2rem;
    }

    .logo {
        text-align: center;

        img {
            width: 100%;
            max-height: 50px;
        }

    }

    .cart {
        text-align: right;
    }

}

.navbar-mobile--dropdown {
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    height: 0px;
    overflow: hidden;

    .more {
        color: var(--red);
    }

    .links {

        .nav-link > a {
            display: block;
            border-bottom: 1px solid var(--white);
            padding-bottom: 8px;
            padding-left: 14px;
            font-size: var(--nav-font--mobile);
        }
    }

    .mobile-submenu {
        display: flex;
        flex-direction: column;
        height: 0px;
        overflow: hidden;
    }

    .mobile-submenu  a {
        display: block;
        border-bottom: 1px solid var(--white);
        padding-top: 12px;
        padding-bottom: 8px;
        padding-left: 32px;
        font-size: var(--subnav-font--mobile);
        color: var(--grey-light);
    }

    .mobile-submenu-main-link {
        margin: 10px 0 0px 0;
    }


}