@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@500;600&display=swap');

@keyframes preorder-flash {
    0% { opacity: 0.8; }
    50% { opacity: 1;}
    100% { opacity: 0.8;}
}

/* Global */
@import 'global/reset.scss';
@import 'global/app.scss';
@import 'global/variables.scss';
@import 'global/typography.scss';
@import 'global/footer.scss';
@import 'global/breadcrumbs.scss';

/* Nav */
@import 'navigation/navbar.scss';
@import 'navigation/mobilenav.scss';

/* Home */
@import 'home/section-global.scss';
@import 'home/hero.scss';
@import 'home/latest-releases.scss';
@import 'home/featured-products.scss';
@import 'home/large-nav.scss';
@import 'home/watch.scss';
@import 'home/current-artists.scss';

/* Pages */
@import 'pages/current-artists.scss';
@import 'pages/pages-global.scss';

/* Blogs */
@import 'blog/news.scss';
@import 'blog/videos.scss';

/* Shop */
@import 'shop/header.scss';
@import 'shop/single-product--music.scss';
@import 'shop/single-artist.scss';
@import 'shop/default-collection.scss';
@import 'shop/bandcamp-swiper.scss';
@import 'shop/cart-drawer.scss';
@import 'shop/cart-page.scss';
@import 'shop/radio-buttons.scss';
@import 'shop/sorting.scss';